# Binaries
bin/
md-cli.exe
md-cli

# Dependencies
vendor/
node_modules/

# OS files
.DS_Store
Thumbs.db

# Output
output/

# IDE
.vscode/
.idea/
*.swp
*.swo

.ralphy
.agent
prd
prds/
publishing-guide.md